@model FileHosting.Models.ViewModels.LoginViewModel

<h2>Login</h2>
<form method="post">
    <input asp-for="Email" placeholder="E-Mail" />
    <input asp-for="Password" type="password" placeholder="Passwort" />
    <button type="submit">Einloggen</button>
</form>