@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Auth" asp-action="Register" class="btn btn-secondary">Registrieren</a>
</div>